.container {
  grid-area: main;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 89.9vh;
  color: #808080;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;



  .img {
    max-width: 110px;
    max-height: 110px;
    margin-bottom: 24px;
  }

  .text {
    text-align: center;
  }
}