.user_info_container {
  background-color: #f9f9f9;
  display: grid;
  grid-area: userinfo;
  grid-template-rows: 55% 6% 4% 4%;
  grid-template-areas: 'photo photo'
                       'username username'
                       'usernick usernick'
                       'followers following';
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  position: relative;
  @media screen and (max-width: 1120px) {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.user_photo {
  grid-area: photo;
  max-height: 280px;
  border-radius: 180px;
  margin: 57px 57px 0 57px;
  @media screen and (max-width: 1120px) {
    max-height: 200px;
  }
}

.user_name {
  grid-area: username;
  margin: 0 57px 0 57px;
}

.user_nick_name {
  grid-area: usernick;
  color: #0064EB;
  text-decoration: none;
  margin: 0 57px 0 57px;
}

.followers {
  grid-area: followers;
  margin: 20px 57px 0 57px;

  span {
    padding-left: 10px;
  }
}

.following {
  grid-area: following;
  margin: 20px 57px 0 0;

  span {
    padding-left: 10px;
  }
  @media screen and (max-width: 1120px) {
    margin: 20px 57px 0 57px;
  }
}


