.repositoriesContainer {
  width: 100vh;
  height: 100vh;
  margin: 0 100px 0 700px
}

.repositories {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

